body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f4f6f8;
}

.auth-container {
  width: 360px;
  margin: 80px auto;
  padding: 30px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.auth-container input,
.auth-container select,
.auth-container button {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
}

.auth-container button {
  background: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:hover {
  background: #1e40af;
}

.link {
  text-align: center;
  color: #2563eb;
  cursor: pointer;
}

.dashboard {
  max-width: 900px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 8px;
}

.video-card {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
video {
  width: 100%;
  border-radius: 6px;
  margin-top: 10px;
}

button {
  cursor: pointer;
}
button.upload-btn {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
}